body {
    background-image: url();
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 10px 10px 10px 10px;
    background-color: rgba(140, 0, 255, 0.829);
    font: bold;
    font-size: 24px;
    border: 1px solid #333;
    text-align: center;

}